* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}
/* body {   
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.site-container {
    min-height: 100vh;
}
.site-container-content {
   /*  background-color: #3498db;     */
    margin: 0 8%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.text-nav-sidebar{
    color: #f3f3f3;
}
.signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 350px;
    height: auto;
    border: 1px solid #404040;
    border-radius: 15px;
}

main {
    flex: 1;
    min-height: 100vh;
    margin: 10%;
    margin-top: 0%;
}

.btn-primary {
    background-color: #f0c040;
    color: black;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px #404040 solid;
    margin: 1rem;
}
.img-large {
    max-width: 100%;
}

.product img {
    width: 100%;
    max-width: 400px;
}
.product-info {
    padding: 1rem;
}
.rating span {
    color: #f3b600;
}

.img-thumbnail {
    height: 80px;
}

.small-container {
    max-width: 600px;
}

.checkout-steps > div {
    border-bottom: 0.2rem solid #a0a0a0;
    color: #a0a0a0;
}
.checkout-steps > div.active {
    border-bottom: 0.2rem solid #f08000;
    color: #f08000;
}

/* sidebar */
.navbar-brand {
    font-weight: bold;
}
.site-container {
    transition: 0.4s;
}
.side-navbar {
    width: 240px;
    height: 100%;
    position: absolute;
    left: -300px;
    background-color: #404040;
    transition: 0.5s;
}
.active-cont {
    margin-left: 240px;
}
.active-nav {
    left: 0;
}
.text-bold{
    font-weight: bold;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
}

.spinner {
    width: 40px; /* Ajuste a largura conforme necessário */
    height: 40px; /* Ajuste a altura conforme necessário */
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
